.chart {
    width: 100%;

    min-height: 200px !important;
    height: 200px !important;

    .chart-data {
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        width: 25%;
        transform: translate(-50%, -50%);

        .chart-name {
            font-size: 1em;
        }

        .chart-value {
            font-size: 1.5em;
        }
    }
}