.chart {
    width: 100%;

    min-height: 200px !important;
    height: 200px !important;

    .chart-div {
        min-height: 200px !important;
        height: 200px !important;

        * {
            min-height: 200px !important;
            height: 200px !important;

        }
    }

    .chart-data {
        position: absolute;
        text-align: center;
        top: 35%;
        left: 25%;
        width: 50%;

        .chart-name {
            font-size: 1.25em;
        }

        .chart-value {
            font-size: 1.5em;
            min-height: 2em;
        }
    }
}