.event {
    width: 100%;

    $background: rgb(250, 250, 250);
    $border: 1px solid darken($background, 10%);
    //box-shadow: 1px 1px 4px 1px darken($background, 15%);

    margin-bottom: 20px;

    .event-bar {
        width: 100%;

        background: $background;
        border-radius: 5px;
        border: $border;
        padding: 20px;

        &.open {
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            border-bottom: none;
        }

        display: flex;
        justify-content: space-between;

        .fa-chevron-down {
            transform: rotate(0deg);
            transition: transform 1s linear;
        }

        .arrow {
            transform: rotate(0deg);
            transition: transform 0.25s linear;
            transform-origin: center;
        }

        .open {
            transform: rotate(180deg);
            transition: transform 0.25s linear;
        }
    }

    .event-info {
        display: flex;
        width: 100%;
        background: darken($background, 5%);
        padding: 40px;
        text-align: justify;

        border: $border;
        border-top: none;

        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;

        .description {
            width: 80%;

            p {
                margin: 10px;
                line-height: 1.3em;
            }
        }

        .details {
            width: 20%;

            .detail {
                margin: 20px;
                text-align: justify;

                h4 {
                    width: 100%;
                    font-size: 1.2em;
                }

                .address {
                    .line {
                        display: block;
                    }
                }
            }
        }
    }
}