.event {
    width: 100%;

    $background: rgb(250, 250, 250);
    //box-shadow: 1px 1px 4px 1px darken($background, 15%);

    margin-bottom: 20px;

    .event-bar {
        width: 100%;

        background: $background;
        border-radius: 2px;
        border: 1px solid darken($background, 10%);
        padding: 20px;

        display: flex;
        justify-content: space-between;


        &.open {
            box-shadow: none;
        }

        .fa-chevron-down {
            transform: rotate(0deg);
            transition: transform 1s linear;
        }

        .arrow {
            transform: rotate(0deg);
            transition: transform 0.25s linear;
            transform-origin: center;
        }

        .open {
            transform: rotate(180deg);
            transition: transform 0.25s linear;
        }
    }

    .event-description {
        width: 100%;
        background: darken($background, 5%);
        padding: 40px;
        text-align: justify;

        p {
            margin: 10px;
            line-height: 1.3em;
        }
    }
}