.sidebar {
    position: absolute;
    right: 0px;
    top: 0px;


    overflow-x: hidden;
    overflow-y: hidden;

    background: lightgray;

    .chart {
        border-bottom: 1px slategray solid;
    }
}