@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: 'Lato', sans-serif;
  color: #393939; }

.screen {
  width: 82%;
  height: 100vh;
  padding: 10px;
  margin-right: 0;
  overflow-y: scroll; }
  .screen .heading {
    margin: 10px;
    text-align: center;
    width: 100%; }
  .screen .content {
    margin: 15px; }
    .screen .content p {
      line-height: 1.2em; }

.sidebar {
  width: 18%;
  height: 100vh; }
