@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: 'Lato', sans-serif; }

.screen {
  width: 80%;
  padding: 10px; }
  .screen .heading {
    margin: 10px;
    text-align: center;
    width: 100%; }
  .screen .content {
    margin: 15px; }
    .screen .content p {
      line-height: 1.2em; }
