.chart {
  width: 300px;
  height: 200px; }
  .chart .chart-data {
    position: absolute;
    top: 35%;
    left: 25%;
    text-align: center;
    width: 50%; }
    .chart .chart-data .chart-name {
      font-size: 1.25em; }
    .chart .chart-data .chart-value {
      font-size: 1.5em;
      min-height: 2em; }
