.chart {
  width: 100%;
  min-height: 200px !important;
  height: 200px !important; }
  .chart .chart-div {
    min-height: 200px !important;
    height: 200px !important; }
    .chart .chart-div * {
      min-height: 200px !important;
      height: 200px !important; }
  .chart .chart-data {
    position: absolute;
    text-align: center;
    top: 35%;
    left: 25%;
    width: 50%; }
    .chart .chart-data .chart-name {
      font-size: 1.25em; }
    .chart .chart-data .chart-value {
      font-size: 1.5em;
      min-height: 2em; }
