.event {
  width: 100%;
  margin-bottom: 20px; }
  .event .event-bar {
    width: 100%;
    background: #fafafa;
    border-radius: 5px;
    border: 1px solid #e1e1e1;
    padding: 20px;
    display: flex;
    justify-content: space-between; }
    .event .event-bar.open {
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-bottom: none; }
    .event .event-bar .fa-chevron-down {
      transform: rotate(0deg);
      transition: transform 1s linear; }
    .event .event-bar .arrow {
      transform: rotate(0deg);
      transition: transform 0.25s linear;
      transform-origin: center; }
    .event .event-bar .open {
      transform: rotate(180deg);
      transition: transform 0.25s linear; }
  .event .event-info {
    display: flex;
    width: 100%;
    background: #ededed;
    padding: 40px;
    text-align: justify;
    border: 1px solid #e1e1e1;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; }
    .event .event-info .description {
      width: 80%; }
      .event .event-info .description p {
        margin: 10px;
        line-height: 1.3em; }
    .event .event-info .details {
      width: 20%; }
      .event .event-info .details .detail {
        margin: 20px;
        text-align: justify; }
        .event .event-info .details .detail h4 {
          width: 100%;
          font-size: 1.2em; }
        .event .event-info .details .detail .address .line {
          display: block; }
