.event {
  width: 100%;
  margin-bottom: 20px; }
  .event .event-bar {
    width: 100%;
    background: #fafafa;
    border-radius: 2px;
    border: 1px solid #e1e1e1;
    padding: 20px;
    display: flex;
    justify-content: space-between; }
    .event .event-bar.open {
      box-shadow: none; }
    .event .event-bar .fa-chevron-down {
      transform: rotate(0deg);
      transition: transform 1s linear; }
    .event .event-bar .arrow {
      transform: rotate(0deg);
      transition: transform 0.25s linear;
      transform-origin: center; }
    .event .event-bar .open {
      transform: rotate(180deg);
      transition: transform 0.25s linear; }
  .event .event-description {
    width: 100%;
    background: #ededed;
    padding: 40px;
    text-align: justify; }
    .event .event-description p {
      margin: 10px;
      line-height: 1.3em; }
